#root {
  max-width: 1280px;
  margin: 0 auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
nav ul {
  width: 800px;
  display: flex;
  gap:20px;
  justify-content: flex-end;
}
nav ul li {
  list-style: none;
}
.posts-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-wrapper {
  background-color: aliceblue;
  color: black;
  padding: 10px;
  text-align: center;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}